.footer__thumb {
  margin-right: 70px;
}
.address__link {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--third-title-color);

  transition: color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--main-text-color);
  }

  &-contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-text-color);

    transition: color var(--transition-duration) var(--timing-function);

    &:hover,
    &:focus {
      color: #757575;
    }
  }
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
