.footer__thumb {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address__link {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--third-title-color);

  transition: color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--main-text-color);
  }

  &-contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-text-color);

    transition: color var(--transition-duration) var(--timing-function);

    &:hover,
    &:focus {
      color: #757575;
    }
  }
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
  // @media screen and (min-width: 1200px) {
  //   margin-bottom: 9px;
  // }
}
