.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);

  transition: color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
