.footer {
  background-color: var(--second-bckgr-color);
  padding: 60px 0;
}
.footer__container {
  margin: 0 auto;
  text-align: center;
  padding: 0 -15px;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}
.tablet {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
