.logo {
  color: var(--accent-color);
  font-family: var(--font-logo);
  font-size: 26px;
  line-height: 1.19;
}
.header__logo {
  margin-right: 94px;
}

.logo__dark {
  color: var(--first-logo-color);
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.logo__light {
  color: var(--second-logo-color);
}
