.checkbox__text {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;

  color: var(--second-title-color);

  .checkbox:checked + & {
    .checkbox__item {
      background-color: var(--accent-color);
      border: none;
    }
  }
}
.checkbox__item {
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;

  transition: background-color var(--transition-duration) var(--timing-function);
}
.checkbox__svg {
  fill: var(--second-social-icon-color);
}

.checkbox__link {
  color: var(--accent-color);
}
